# ip6 saddr @set2 drop
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x0000dd86 ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set set2 ]
  [ immediate reg 0 drop ]

# ip6 saddr != @set2 drop
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x0000dd86 ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set set2 0x1 ]
  [ immediate reg 0 drop ]

# ip6 saddr . ip6 daddr @set5 drop
netdev test-netdev ingress
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x0000dd86 ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ payload load 16b @ network header + 24 => reg 2 ]
  [ lookup reg 1 set set5 ]
  [ immediate reg 0 drop ]

# add @set5 { ip6 saddr . ip6 daddr }
netdev test-netdev ingress
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x0000dd86 ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ payload load 16b @ network header + 24 => reg 2 ]
  [ dynset add reg_key 1 set set5 ]

# delete @set5 { ip6 saddr . ip6 daddr }
netdev test-netdev ingress
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x0000dd86 ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ payload load 16b @ network header + 24 => reg 2 ]
  [ dynset delete reg_key 1 set set5 ]

